
@use 'variables' as v;

// Globales

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem; /* 1rem = 10px */
  font-family: v.$fuente_principal;

  &.fijar-body {
    overflow: hidden;
  }

  &.body-scroll {
    padding-top: 7.5rem;
  }
}

.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
}
