
@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos {
  background-color: v.$verde;
  padding: 5rem 0;

  h3, p {
    text-align: center;
    color: v.$blanco;
  }

  h3 {
    font-size: 2.2rem;
  }
}

.contenedor-boletos {
  
  @include m.tablet {
    @include m.grid(2, 4rem);
  }
}

.pase .nombre-pase {
  font-size: 2rem;
  margin: 2rem 0;
}

.contenido-dia p {
  padding: 1rem 0;
  font-size: 1.8rem;
  margin: 0;
}

.contenido-pase {
  list-style: none;

  li {
    padding: 1rem;
    background-color: v.$blanco;
    border-bottom: solid 1px rgb(128 128 128 / 0.4);
    
    &:last-child {
      border-bottom: none;
    }
  }
}

.bg-rosa {
  background-color: v.$rosa;
}

.bg-morado {
  background-color: v.$morado;
}